<!--<mat-grid-list cols="2">
  <mat-grid-tile *ngFor = "let class of classes">
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <img mat-card-image src="../assets/Class9.png" alt="Class9">
      <mat-card-content>
        <p class="card-content">
          Class {{class}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button class="card-content-right" mat-raised-button color="primary" (click) = "goTo(class)">Details</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
-->